
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// DropZone
@import "node_modules/dropzone/dist/dropzone";

//Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome";

//Sweet-Alert
@import "node_modules/sweetalert2/dist/sweetalert2";

//Select2
@import "node_modules/select2/dist/css/select2";

//Inspinia
@import "vendor/inspinia";

//Toastr
@import "node_modules/toastr/toastr";

body {
	display: flex;
	background: #2C3539;
}

aside {
    width: 20vw;
    height: 100vh;
}

main {
    width: 80vw;
    height: 100vh;
    padding: 15px;
    background: #efefef;
}

.profile--image-menu {
	width: 50px;
}

.nav-header {
 background: none;
}

.nav-label {
	color: #fff;
}

.nav--ikon-farve {
	color: #fff;
}

.nav-second-level li a {
	font-weight: normal;
	padding-bottom: 0px;
}

.nav > li > a {
	padding-bottom: 3px;
}

#preview {
	margin: 0 auto !important;
	display: table !important;
	text-align: center !important;
}
.btn-active {
    border-color: #1ab394 !important;
    background: rgba(26, 179, 148, 0.17) !important;
}
#page-wrapper{
	height: 100vh;
}